#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    }
    
    /*Welcome view Styling*/
    #name-form {
    margin: 10px;
    padding: 5px;
    }
    
    button {
    margin: 10px 25px;
    box-shadow: 3px 2px 5px indigo;
    }
    
    h2 {
    text-decoration: underline double plum;
    }
    
    .form-group {
    display: inline-block;
        }
    
    /*Game view styling*/
    .game-info > ol {
    list-style-type: none;
    }
.game-info {
    display: flex;
    font-size:small;
    flex-direction:row;
    flex-wrap:wrap;
    height:400px;
    background-color:lavender;
}
.game-info:first-child{
    font-size:medium;
}

button {
    background-color: white;
    border: 2px solid hotpink;
    border-radius: 15px;
    color: black;
    padding: 8px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 10px;
}
select{
    color:black;
    font-weight:bold;
}