#root {
  max-width: 1280px;
  width:950px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-height:1000px;
  height:600px;
  background-color:lavender;
}

body{
/*    background-color:navy;
*/}