nav{
    color:navy;
    width:100%;
    border-bottom: 2px solid indigo;


}
    nav > ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    nav > li {


    }

    nav > a{
        padding:5px;
    }


a:hover{
    color:indigo;
    text-shadow:1em 0.2em 0.5em goldenrod;
    font-size:medium;
}
