nav{
    color:black;
    width:100%;
    border-bottom: 2px solid indigo;


}
    nav > ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    nav > a{
        padding:5px;
        color:black !important;
    }


a:hover{
    color:black;
    text-shadow:2px 2px 3px hotpink;
    font-size:medium;
}

